
<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <div class="g-header">
      <div class="profile-image campo-header">
        <img class="user" src="" alt="">
      </div>
      <div class="campo-header">
        <h1>Nombres</h1>
      </div>
      <div class="campo-header">
        <h1>Apellidos</h1>

      </div>
    </div>

  </mat-card-header>
  <mat-card-content>
    <div class="g-content">
      <div class="campo-content">
        <div class="details">
          <div class="detail">
            <h3>Ocupattion</h3>
            <hr>
          </div>
          <p>Salesman</p>
        </div>

        <div class="details">          <div class="detail">
            <h3>Entry date</h3>
            <hr>
          </div>
          <p>11 - 11 - 2021</p>
        </div>

        <div class="details">
          <div class="detail">
            <h3>Team</h3>
            <hr>
          </div>
          <p>Team 1</p>
        </div>
      </div>

      <div class="campo-content">
        <h2>
          Last mont analysis
        </h2>
      </div>
      <div class="campo-content">
        <ul>
          <li>Attendance: {{dato}}</li>
          <li>Average: {{dato}}</li>
          <li>Highest score: {{dato}}</li>
          <li>Lowest score: {{dato}}</li>
          <li>Bans: {{dato}}</li>
        </ul>

      </div>
    </div>

  </mat-card-content>
</mat-card>
