

.card{
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid;

}
.g-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: auto;
}
.g-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  margin-top: 1.5rem;
}

.material-icon{
  font-size: 48px;
}

.campo-header:nth-child(2){
  display: flex;
  align-items: flex-end;
}

.campo-header:nth-child(1) {
  grid-row: 1 / 3;

}

.campo-header:nth-child(2) h1,
.campo-header:nth-child(3) h1{
  margin: 0;
}


.campo-content {
  align-self: center;
  width: 400px;
}

.campo-content p {
  padding: 0;
  margin: 0;
  color: #865DFF;
}
.campo-content:nth-child(1) p{
  margin: 0;
  text-align: end;
}

ul{
  margin: 0 15% 0 30%;
  padding: 0;
}
li{
  font-size: 1.5rem;
}
.campo-content:nth-child(1) {
  grid-row: 1 / 3; /* Ocupa la primera columna en ambas filas */
  padding-top: 20px;
}


.profile-image{
  background-color: gray;
  height: 200px;
  width: 200px;
  border-radius: 20%;
}
.details{
  margin-bottom: 1rem;
}

.detail{
  display: flex;
  align-items: center;
}

h3{
  font-weight: normal;
  margin: 0 8px 0 0;
  font-size: 1.5rem;
}
h2{
  font-size:  2rem;
  margin: 0;
  text-align: center;
}
hr {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

