<div class="statistics-container">
  <button class="back-button" (click)="goToDashboard()">{{ 'Back' | translate }}</button>
  <h1>{{ 'detailed-statistics' | translate }}</h1>

  <table class="stats-table">
    <thead>
    <tr>
      <th></th>
      <th>{{ 'members' | translate }}</th>
      <th>{{ 'input' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Team 1</td>
      <td>
        <ul>
          <li>Rosalind Medhurst</li>
          <li>Arno Howe</li>
          <li>Randal Wuckert</li>
        </ul>
      </td>
      <td>5700</td>
    </tr>
    <tr>
      <td>Team 2</td>
      <td>
        <ul>
          <li>Ulises Franecki</li>
          <li>Leonardo Bernhard</li>
          <li>Xzavier Bernhard</li>
        </ul>
      </td>
      <td>2700</td>
    </tr>
    <tr>
      <td>Team 3</td>
      <td>
        <ul>
          <li>Aliya Schroeder</li>
          <li>Mohammed Kilback</li>
          <li>George Hilll</li>
        </ul>
      </td>
      <td>2200</td>
    </tr>
    <tr class="total-row">
      <td></td>
      <td>Total</td>
      <td>10600</td>
    </tr>

    </tbody>
  </table>
</div>
