<div class="statistics-container">
  <button class="back-button" (click)="goToDashboard()">Go back</button>
  <h1>Detailed statistics</h1>

  <table class="stats-table">
    <thead>
    <tr>
      <th>Team</th>
      <th>Members</th>
      <th>Input ($)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pendiente</td>
      <td>
        <ul>
          <li>Pendiente</li>
          <li>Pendiente</li>
          <li>Pendiente</li>
        </ul>
      </td>
      <td>Pendiente</td>
    </tr>
    <tr>
      <td>Pendiente</td>
      <td>
        <ul>
          <li>Pendiente</li>
          <li>Pendiente</li>
          <li>Pendiente</li>
        </ul>
      </td>
      <td>Pendiente</td>
    </tr>
    <tr>
      <td>Pendiente</td>
      <td>
        <ul>
          <li>Pendiente</li>
          <li>Pendiente</li>
          <li>Pendiente</li>
        </ul>
      </td>
      <td>Pendiente</td>
    </tr>
    <tr class="total-row">
      <td></td>
      <td>Total</td>
      <td>Pendiente</td>
    </tr>

    </tbody>
  </table>
</div>
