
<div class="titulo-reporte">
  <h2 class="center">Record</h2>
  <p class="center">Gaa</p>
</div>

<div class="botones">
  <div class="contenedor">

    <div class="boton">
      <img class="imagen" src="/assets/generar.jpg" alt="generar">
      <button class="btn" type="button" (click)="goToRecord()">Record</button>
    </div>

    <div class="boton">
      <img class="imagen" src="/assets/record.jpg" alt="record">
      <button class="btn">Record</button>
    </div>
  </div>

</div>

