
<div class="titulo-reporte">
  <h2 class="center titulo">Reports</h2>
  <p class="center pa">Consulta y genera reportes</p>
</div>

<div class="botones">
  <div class="contenedor">

    <div class="boton">
      <img class="imagen" src="/assets/generar.jpg" alt="generar">
      <button class="btn" type="button" (click)="changeGenerate()">Generate</button>
    </div>

    <div class="boton">
      <img class="imagen" src="/assets/record.jpg" alt="record">
      <button class="btn" type="button" (click)="changeRecord()">Record</button>
    </div>
  </div>

</div>

