<div class="dashboard-screen">
  <div class="header">
    <h1>Dashboard</h1>
    <h2>Consult and elaborate reports</h2>
  </div>

  <div class="form-section">
    <mat-form-field appearance="fill">
      <mat-label>Month and year</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="monthYearControl" readonly>
      <mat-datepicker #picker startView="multi-year" (monthSelected)="chosenMonthHandler($event, picker)"
                      (yearSelected)="chosenYearHandler($event)" panelClass="month-picker"
                      [startAt]="startDate" [startView]="'multi-year'" >
      </mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Input goal ($)</mat-label>
      <input matInput placeholder="Set a goal here" type="number" min="0" step="100" [(ngModel)]="inputGoal">
    </mat-form-field>
  </div>
  <div class="tab-team">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let group"> {{group.name}} </td>
      </ng-container>

      <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef> Input </th>
        <td mat-cell *matCellDef="let group"> {{group.input}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div>
    <button @click="" mat-flat-button class="details" (click)="goToDetail()">Detailed view</button>
  </div>
</div>
