.custom-container {
  height: 100vh;
  width: 100%;

}

.color{
  color: black;
  font-weight: bold;
}
/* Estilo por defecto: íconos y texto en negro */
.sidenav nav ul li i.material-icons {
  margin-right: 10px;
  color: black; /* Color por defecto del ícono (negro) */
}

.sidenav nav ul li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black; /* Color por defecto del texto (negro) */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el color y fondo */
}

/* Estilo cuando se pasa el mouse por encima (hover) */
.sidenav nav ul li:hover {
  background-color: #6a5acd; /* Fondo morado al hacer hover */
  color: #a8a7a7; /* Cambiar color del texto a blanco */
}

/* Cambiar color del ícono a blanco al hacer hover */
.sidenav nav ul li:hover i.material-icons {
  color: #a8a7a7; /* Cambiar color del ícono a blanco */
  transition: color 0.3s ease; /* Transición suave para el cambio de color del ícono */
}



.sidenav {
  width: 200px;
  background-color: #f8f8ff;
  padding-top: 20px;
  border-right: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
}
.sidenav nav ul li:last-child {
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  width: 80%;
}
.sidenav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.sidenav nav ul li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidenav nav ul li:hover {
  background-color: #eaeaff;
}

.sidenav nav ul li i.material-icons {
  margin-right: 10px;
  color: #6a5acd;
}

.logout {
  margin-top: auto;
  color: #444;
}

.main-content {
  padding: 0;
  background-color: #fff;
  height: 100%;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;

}
