<mat-drawer-container class="custom-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <nav>
      <ul>
        @for (option of options; track option.label) {
          <li mat-button [routerLink]="option.link" routerLinkActive="active"><i class="material-icons">{{ option.icon}}</i> {{ option.label | translate }}</li>
        }
      </ul>
    </nav>
  </mat-drawer>

  <mat-drawer-container class="main-content">
    <router-outlet />

  </mat-drawer-container>
</mat-drawer-container>
