<div class="titulo-reporte">
  <h2 class="center">Generate</h2>
</div>

<div class="volver">
  <button type="button" (click)="goToReport()" class="btn-volver">Go back</button>
</div>

<div class="contenedor-principal">
  <div class="reporte-mensual">
    <h3><b>REPORT OF THE MONTH</b></h3>
    <table>
      <tr>
        <th> </th>
        <th>Data</th>
      </tr>
      <tr>
        <td>Average attendance</td>
        <td><span class="tag">30%</span></td>
      </tr>
      <tr>
        <td>Average tardiness</td>
        <td><span class="tag">10%</span></td>
      </tr>
      <tr>
        <td>Average hours worked per week</td>
        <td><span class="tag">8hrs</span></td>
      </tr>
      <tr>
        <td>Average number of personal permits requested</td>
        <td><span class="tag">4</span></td>
      </tr>
      <tr>
        <td>Number of unjustified absences</td>
        <td><span class="tag">40/60</span></td>
      </tr>
      <tr>
        <td>Number of warnings recorded</td>
        <td><span class="tag">20</span></td>
      </tr>
      <tr>
        <td>Average performance evaluation</td>
        <td><span class="tag">30%</span></td>
      </tr>
      <tr>
        <td>Average goal achievement</td>
        <td><span class="tag">10.6%</span></td>
      </tr>
      <tr>
        <td>Average number of late tasks</td>
        <td><span class="tag">30%</span></td>
      </tr>
    </table>
  </div>

  <div class="grafico">
    <h3>Registered Employees – 100</h3>
    <p class="subtitulo">Low performance</p>
    <div class="barras">
      <div class="barra">
        <div class="barra-valor" style="height: 80%;"></div>
        <span>PROXIMAMENTE</span>
      </div>

    </div>
  </div>
</div>
