<div class="titulo-reporte">
  <h2 class="center">{{ 'generate.title' | translate }}</h2>
</div>

<div class="volver">
  <button type="button" (click)="goToReport()" class="btn-volver">
    {{ 'generate.goBack' | translate }}
  </button>
</div>

<div class="contenedor-principal">
  <div class="reporte-mensual">
    <h3><b>{{ 'generate.monthlyReport' | translate }}</b></h3>
    <table>
      <tr>
        <th></th>
        <th>{{ 'generate.data' | translate }}</th>
      </tr>
      <tr>
        <td>{{ 'generate.avgAttendance' | translate }}</td>
        <td><span class="tag">30%</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgTardiness' | translate }}</td>
        <td><span class="tag">10%</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgHoursWorked' | translate }}</td>
        <td><span class="tag">8hrs</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgPermits' | translate }}</td>
        <td><span class="tag">4</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.unjustifiedAbsences' | translate }}</td>
        <td><span class="tag">40/60</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.warningsRecorded' | translate }}</td>
        <td><span class="tag">20</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgPerformance' | translate }}</td>
        <td><span class="tag">30%</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgGoals' | translate }}</td>
        <td><span class="tag">10.6%</span></td>
      </tr>
      <tr>
        <td>{{ 'generate.avgLateTasks' | translate }}</td>
        <td><span class="tag">30%</span></td>
      </tr>
    </table>
  </div>

  <div class="grafico">
    <h3>{{ 'generate.registeredEmployees' | translate:{ count: 100 } }}</h3>
    <p class="subtitulo">{{ 'generate.lowPerformance' | translate }}</p>
    <div class="barras">
      <div class="barra">
        <div class="barra-valor" style="height: 80%; width: 70%;"></div>
      </div>
      <div class="grafico">
        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                style="max-width: 100%;">
        </canvas>
      </div>
    </div>
  </div>

</div>
