.center {
  text-align: center;
}

.titulo-reporte {
  margin-top: 60px;
}

.volver {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.btn-volver {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.contenedor-principal {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid #a077e5;
  border-radius: 15px;
  margin: 40px;
  padding: 30px;
  flex-wrap: wrap;
}

.reporte-mensual {
  flex: 1;
  min-width: 300px;
  max-width: 1000px;
}

.reporte-mensual table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reporte-mensual td, .reporte-mensual th {
  padding: 10px;
  font-size: 14px;
}

.reporte-mensual th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.tag {
  background-color: #b38bfa;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.grafico {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.subtitulo {
  font-weight: bold;
  margin-bottom: 20px;
}



.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra-valor {
  width: 30px;
  background-color: #a077e5;
  border-radius: 5px;
  transition: height 0.3s ease;
}
