<div class="border">
  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.id' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.name' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.name }} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.lastname' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.lastname }} </td>
    </ng-container>

    <ng-container matColumnDef="ocupation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.ocupation' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.ocupation }} </td>
    </ng-container>

    <ng-container matColumnDef="entrydate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.entryDate' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.entrydate }} </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'employeeTable.team' | translate }}</th>
      <td mat-cell *matCellDef="let course"> {{ course.team }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'employeeTable.actions' | translate }}</th>
      <td mat-cell *matCellDef="let course">
        <a (click)="onEditItem(course)" href="javascript:void(0)"><mat-icon>{{ 'employeeTable.editIcon' | translate }}</mat-icon></a>
        <a (click)="onDeleteItem(course)" href="javascript:void(0)"><mat-icon>{{ 'employeeTable.deleteIcon' | translate }}</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [ngClass]="{ 'editable-row': courseData && courseData.id === row.id }"></tr>
  </table>

  <div class="footer">
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="3" showFirstLastButtons class="paginator"></mat-paginator>
  </div>
</div>
