table {
  width: 100%;
  background-color: transparent;

}

.border{
  width: fit-content;
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.paginator{
  background-color: transparent;
}
.footer{
  display: flex;
  justify-content: center;
}
