<!-- Create and Edit Course -->

<div class="form-section border">
  <h2>{{ editMode ? 'Edit Course' : 'Nuevo Empleado' }}</h2>


  <form #courseForm="ngForm" (submit)="onSubmit()" class="form-grid-custom">

    <mat-form-field appearance="outline">
      <input [(ngModel)]="course.name" matInput name="name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input [(ngModel)]="course.lastname" matInput name="lastname" placeholder="Lastname" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2">
      <input [(ngModel)]="course.ocupation" matInput name="ocupation" placeholder="Ocupation">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input [(ngModel)]="course.entrydate" matInput name="entrydate" placeholder="Entry Date">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input [(ngModel)]="course.team" matInput name="team" placeholder="Team">
    </mat-form-field>

    <!-- Botones que ocupan las dos columnas -->
    <div class="form-buttons col-span-2">
      <button type="submit" color="primary" mat-raised-button>
        {{ isEditMode() ? 'Update' : 'Add' }}
      </button>
      <button type="button" (click)="onCancel()" color="warn" mat-raised-button>
        Cancel
      </button>
    </div>

  </form>
</div>
